<%= content_for :head do %>
  <%= stylesheet_link_tag "users/ranking", media: "all" %>
<% end %>
<%= content_for :header do %>
  <div class="header-wrapper">
	<a href="index.html">
	  <!--<img src="images/logo-header.png" alt="Pictance">-->
	  <%= image_tag "logo-header.png", alt: "Pictance" %>
	</a>
  </div>
<% end %>
<div class="ranking">
  <div class="ranking-top">
    <!--<img src="images/daniel.png" alt="ダニエル・ペレズ">-->
    <%= image_tag @facebook_user.picture %>
    <p><span><%= @facebook_user.name %></span>さん</p>
	<p>あなたに好意を持っている方は、こちらです！</p>
  </div>
  <div class="select-gender">
	<p class="center">
	  <!--<img src="/assets/gender-mandf-selected.png" alt="男性・女性">-->
	  <%= link_to ranking_users_path do %>
      <% if @gender == -1 %>
  	  	<%= image_tag "gender-mandf-selected.png", alt: "男性・女性" %>
      <% else %>
        <%= image_tag "gender-mandf.png", alt: "男性・女性" %>
      <% end %>
	  <% end %>
	  <!--<img src="/assets/gender-m.png" alt="男性・女性">-->
	  <%= link_to ranking_users_path(gender: 0) do %>
      <% if @gender == 0 %>
        <%= image_tag "gender-m-circle.png", alt: "男性" %>
      <% else %>
        <%= image_tag "gender-m.png", alt: "男性" %>
      <% end %>
	  <% end %>
	  <!--<img src="/assets/gender-f.png" alt="男性・女性">-->
	  <%= link_to ranking_users_path(gender: 1) do %>
      <% if @gender == 1 %>
        <%= image_tag "gender-f-selected.png", alt: "女性" %>
      <% else %>
        <%= image_tag "gender-f.png", alt: "女性" %>
      <% end %>
	  <% end %>
	</p>
  </div>
  <div class="ranking-main">
    <%= render partial: 'users/user_score', collection: @scores, as: :score %>
  </div>
  <div class="twitter">
	<p class="center">
	  <a href="https://twitter.com/share" class="twitter-share-button" data-via="kouhoukouhoukou" data-lang="ja" data-size="large" data-count="none">ツイート</a>
	  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0px],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
	</p>
  </div>
  <hr class="red">
  <div class="ranking-bottom">
	<div class="photo-couples"></div>
	<div class="logo">
	  <a href="index.html">
		<!--<img src="images/logo.png" alt="Pictance">-->
		<%= image_tag "logo.png" %>
	  </a>
	</div>
  </div>
  <hr class="red">
</div>

