<%= content_for :head do %>
  <%= stylesheet_link_tag "users/show", media: "all" %>
<% end %>
<%= content_for :header do %>
  <div class="header-wrapper">
  <%= link_to ranking_users_path do %>
	  <!--<img src="images/logo-header.png" alt="Pictance">-->
	  <%= image_tag "logo-header.png", alt: "Pictance" %>
  <% end %>
  </div>
<% end %>

<h2>Photos with <%= @user.name %></h2>
<div class="photo-container">
  <%= render partial: 'users/photo', collection: @photos, as: :photo %>
</div>
